@font-face {
	font-family: "Exo2-Bold";
	src: url("/ui/static/fonts/Exo2-Bold.ttf");
}
body {
    background: fixed;
    background-size: auto;
    background-color: rgb(240, 240, 240);
}
#block-body {
    width: 90%;
    margin: 5px auto;
    height: auto;
}
header {    
    position: sticky;
    top: 15px;
   height: 80px;
   background-color: black;
   background-position: center;

}
#block-content {
    width: auto;
    height: auto;
    min-height: 500px;
}
.logo {
    width: 200px;
    float: left;
    height: 80px;
}
.logo  {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    font-family: "Exo2-Bold", sans-serif;
    font-size: 28px;
    color:  #b2aeb2;
    text-decoration: none;
    cursor: pointer;
}
.nameOfHead {
    color: #ffffff;  
}
.top-menu {
    display: block;
    height: 80px;
    background-color: rgb(0, 0, 0);
}
.top-menu ul  {
    /* list-style: none; */
    float: left;
    text-align: center;
}
.top-menu ul span {
    display: block;
    /* width:333px; */
    width: auto;
    text-align: right   ;
    text-decoration: none;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 25px;
    color: rgb(153, 0, 0);
    height: 60px;
    padding-bottom:2px;
    cursor: pointer;
    /* image-resolution: 5%; */
}
#preloader {
    left: 40%;
    top: 40%;
    position: absolute;
}
.block-top-auth {
    width: 100px;
    float: left;
    margin-left: 40px;
    height: 80px;
}
.block-top-auth p {
    margin-top: 12px;
    text-align: center;
    margin-bottom: 8px;
}
.block-top-auth a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.body-block ul li {
    list-style: none;
    float: left;
    text-align: left;
    width:100%;
    padding-top: 10px;
}
.body-block ul li span{
    border: 3px solid black;
    display: block;
    /* width: 1620px; */
    width: auto;
    inline-size: auto;
    text-decoration: none;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 17px;
    height: 30px;
    padding-top: 25px;
    padding-left:20px;
    cursor: pointer;
    font-size: medium;
    color: #090e29;
}
.top-menu-path ul{
    /* width: 300px; */
    height: 60px;
    float: left;
    background-color: rgb(0, 0, 0);
}
.top-menu-path ul  a {
    display: block;
    /* width: 360px; */
    /* overflow-inline: scroll; */
    white-space: nowrap;
    overflow: hidden;
    /* width:350px; */
    text-decoration: none;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 23px;
    color: rgb(255, 255, 255);
    height: 55px;
    padding-top: 25px;
    padding-left: 30px;
    cursor: pointer;
    image-resolution: 5%;
    white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
    
}
.top-menu-path{
    font-family: "Exo2-Bold", sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  
}
  .back-menu span {
    /* position: fixed; */
    /* top: 0;
left: 110;
right: 100px; */
    display: block;
    /* width: auto; */
    height: 80px;
    /* float: right; */
    text-align: center;
    background-color: rgb(0, 0, 0);
}
.back-menu span {
    
    /* list-style: none; */
    float: right;
    text-align: center;
}
.back-menu span {
    
    border: 3px solid rgb(255, 255, 255);
    display: block;
 
    width: 190px;
    height: 50px;
    text-align: center  ;
    text-align: center;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding-top: 25px;
    cursor: pointer;
}
/* #stat{
    top: 500;
    left: 110;
    right: 100px;
} */