

/* @font-face {
	font-family: "Exo2-MediumItalic";
	src: url("../fonts/Exo2-MediumItalic.ttf");
} */
@font-face {
	font-family: "Exo2-Bold";
	src: url("/ui/static/fonts/Exo2-Bold.ttf");
}
/* @font-face {
	font-family: "Exo2-BoldItalic";
	src: url("../fonts/Exo2-BoldItalic.ttf");
} */
/* * {
    margin: 0;  
    padding: 0;
} */
body {
    /* background-image: url('/HTML/img/background-image.jpg'); */
    background: fixed;
    background-size: auto;
}
#block-body {
    width: 90%;
    margin: 5px auto;
    height: auto;
}
header {    
   /* width: 1650px;  */
   width: auto; 
   height: 80px;
   background-color: black;
   background-position: center;

}
#block-content {
    width: auto;
    height: auto;
    min-height: 500px;
}
.logo {
    width: 200px;
    float: left;
    height: 80px;
}
.logo a {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    font-family: "Exo2-Bold", sans-serif;
    font-size: 28px;
    color:  #b2aeb2;
    text-decoration: none;
    cursor: pointer;
}
.nameOfHead {
    color: #ffffff;
    
}
.logo p {
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 20px;
    color: rgb(61, 187, 44);
}
.top-menu {
    width: auto;
    height: 80px;
    float: right;
    background-color: rgb(0, 0, 0);
}
.top-menu ul li {
    list-style: none;
    float: left;
    text-align: center;
}
.top-menu ul li a {
    display: block;
    width:333px;
    text-decoration: none;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 23px;
    color: rgb(255, 255, 255);
    height: 55px;
    padding-top: 25px;
    cursor: pointer;
    image-resolution: 5%;
}
.top-menu ul li a:hover {
    /* transition: all 0.5s ease; */
    font-size: 23px;
    color: #090e29;
    /* -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease; */
    background: #ffffff;
}
.block-top-auth {
    width: 100px;
    float: left;
    margin-left: 40px;
    height: 80px;
}
.block-top-auth p {
    margin-top: 12px;
    text-align: center;
    margin-bottom: 8px;
    
}
.block-top-auth a {
    text-decoration: none;
    color: white;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}
.block-top-auth a:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    color: #090e29;
}


.body-block ul li {
    list-style: none;
    float: left;
    text-align: left;
    width:100%;
    padding-top: 10px;
}
.body-block ul li a {
    border: 5px solid black;
    display: block;
    width: 1620px;
    inline-size: auto;
    text-decoration: none;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 17px;
    height: 55px;
    padding-top: 25px;
    padding-left:20px;
    cursor: pointer;
    font-size: large;
    color: #090e29;
}


.top-menu-path {
    width: auto;
    height: 80px;
    float: left;
    background-color: rgb(0, 0, 0);
}
.top-menu-path ul li {
    list-style: none;
    float: left;
    text-align: center;
    background-image: url();
}
.top-menu-path ul li a {
    display: block;
    width: 360px;
    overflow-inline: scroll;
    /* width:350px; */
    text-decoration: none;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 23px;
    color: rgb(255, 255, 255);
    height: 55px;
    padding-top: 25px;
    padding-left: 30px;
    cursor: pointer;
    image-resolution: 5%;
}
/* .top-menu-path ul li a:hover {
    transition: all 0.5s ease;
    font-size: large;
    color: #090e29;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    background: #ffffff;
} */
.top-menu-path{
    color: red
}